@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
    background-color: #000;
    color: #FFFDED;
    font-family: Open Sans;
}

.container {
    margin: 60px auto;
    width: 500px;
    text-align: center;
}

#footer {
    /*margin: 0 auto;    */
    text-align: center;
	height: 25px;
    width: 100%;
	position:absolute;
	bottom:0;
    font-weight: 300;
    background-color: #000;
    font-size: 12px;
}

h1 {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 0;  
}

h3 {
    letter-spacing: 2px;   
}

h4 {
    padding-left: 5px;
    margin-top: 7px;
    font-weight: 400;
    letter-spacing: 2px;
}

a, a:link, a:visited, a:active{
    color: #FFFDED;
    font-weight: 400;
    text-decoration: none;
}

a:hover{
    color: #000;
    font-weight: 400;
    text-decoration: none;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

input {
    font-weight: 300;
    width: 90%;
    height: 25px;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
	font-size: 15px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}

.letter_highlight{
    display: inline;
   -webkit-animation-duration: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

    @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff,
               0 0 10px  #fff,
               0 0 15px  #fff,
               0 0 20px  #FFDD1B,
               0 0 35px  #FFDD1B,
               0 0 40px  #FFDD1B,
               0 0 50px #FFDD1B,
               0 0 75px #FFDD1B;
  }
  to {
    text-shadow: 0 0 2px #fff,
               0 0 5px #fff,
               0 0 7px #fff,
               0 0 10px #FFDD1B,
               0 0 17px #FFDD1B,
               0 0 20px #FFDD1B,
               0 0 25px #FFDD1B,
               0 0 37px #FFDD1B;
  }
}

#translation{
    text-align: justify;
    width: 100%;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0px; 
}

#light {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: blue; 
  -webkit-animation-duration: 1s;
  -webkit-animation-name: light_glow;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-name: light_glow;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

    @-webkit-keyframes light_glow {
  from {
    background: rgb(239,221,116); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(239,221,116,1) 0%, rgba(255,253,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(239,221,116,1)), color-stop(100%,rgba(255,253,237,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(239,221,116,1) 0%,rgba(255,253,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(239,221,116,1) 0%,rgba(255,253,237,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(239,221,116,1) 0%,rgba(255,253,237,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(239,221,116,1) 0%,rgba(255,253,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efdd74', endColorstr='#fffded',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    box-shadow: 0 0 5px #fff,
               0 0 10px  #fff,
               0 0 15px  #fff,
               0 0 20px  #FFDD1B,
               0 0 35px  #FFDD1B,
               0 0 40px  #FFDD1B,
               0 0 50px #FFDD1B,
               0 0 75px #FFDD1B;
  }
  to {
  background: rgb(237,217,104); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(237,217,104,1) 0%, rgba(255,253,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(237,217,104,1)), color-stop(100%,rgba(255,253,237,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(237,217,104,1) 0%,rgba(255,253,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(237,217,104,1) 0%,rgba(255,253,237,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(237,217,104,1) 0%,rgba(255,253,237,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(237,217,104,1) 0%,rgba(255,253,237,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edd968', endColorstr='#fffded',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    box-shadow: 0 0 2px #fff,
               0 0 5px #fff,
               0 0 7px #fff,
               0 0 10px #FFDD1B,
               0 0 17px #FFDD1B,
               0 0 20px #FFDD1B,
               0 0 25px #FFDD1B,
               0 0 37px #FFDD1B;
  }

#light.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

#light.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

